In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('/Users/ben/Documents/blog/pqs/tmp/ua_pqs.csv')

In [16]:
df.head()

,id,askingMemberId,askingMember,house,memberHasInterest,dateTabled,dateForAnswer,uin,questionText,answeringBodyId,answeringBodyName,heading
0,58429,437,NaN,Commons,False,2014-06-05 00:00:00,2014-06-09T00:00:00,199151,"To ask Mr Chancellor of the Exchequer, how muc...",14,HM Treasury,Working Tax Credit: Bolton
1,57913,4031,NaN,Commons,False,2014-06-04 00:00:00,2014-06-09T00:00:00,198956,"To ask Mr Chancellor of the Exchequer, what th...",14,HM Treasury,Welfare Tax Credits
2,61038,4031,NaN,Commons,False,2014-06-10 00:00:00,2014-06-16T00:00:00,199850,"To ask Mr Chancellor of the Exchequer, what th...",14,HM Treasury,Welfare Tax Credits
3,64002,163,NaN,Commons,False,2014-06-25 00:00:00,2014-06-30T00:00:00,202509,"To ask Mr Chancellor of the Exchequer, how man...",14,HM Treasury,Welfare Tax Credits: Self-employed
4,64577,385,NaN,Commons,False,2014-06-27 00:00:00,2014-07-01T00:00:00,202934,"To ask Mr Chancellor of the Exchequer, how man...",14,HM Treasury,Welfare Tax Credits: York

In [15]:
df[df.uin == 'HL36'].questionText.tolist()

["To ask Her Majesty's Government how many football banning orders have been issued in each of the past of the five years for football supporters found guilty of racially or religiously aggravated public order offences.",
 'To ask Her Majesty’s Government why the Planning Inspectorate invited comments from the applicant and interested parties regarding the Swansea Bay Lagoon Application (EN010049), including the consideration of alternatives to the proposed lagoon project, b',
 'To ask Her Majesty’s Government whether their representatives at the IMF and other international financial institutions will make clear that international financial assistance should not be made available to the government of Zimbabwe unless and until it ',
 "Her Majesty's Government what is the procedure for freelance public service interpreters and translators to apply for clearance from the Disclosure and Barring Service",
 "To ask Her Majesty's Government what assessment they have made of the simultaneous protests and demonstrations in Egypt and Iraq, the latter of which has resulted in 100 civilian deaths.",
 "To ask Her Majesty's Government what plans they have, if any, to include election funding within the scope of the proposed Constitution, Democracy and Rights Commission.",
 "To ask Her Majesty's Government what assessment they have made of the ability of the NHS neurological workforce to meet the care needs of those living with neurological conditions."]